
<mat-card>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input [(ngModel)] = "email" type matInput placeholder="email">
      </mat-form-field>
      </div> 
      
      <div class="example-container">
        <mat-form-field>
          <input [(ngModel)] = "pass" type matInput placeholder="password">
        </mat-form-field>
      </div>
      <div class = "warn" *ngIf = "code == 'auth/wrong-password'">
        {{msg}}
         </div>

      <button mat-raised-button (click)="login()" color="primary">login</button>

      <div class = "warn" *ngIf = "code == 'auth/user-not-found'">
     {{msg}}
      </div>

  
     
 </mat-card-content>
 </mat-card>
