<mat-card>
 <mat-card-content>
<button (click)="toLogin()"  *ngIf = "!(Auth.user | async)" >log-in</button>
<button (click)="toLogout()" *ngIf = "Auth.user | async">log-out</button>


<button (click)="toItems()">items</button>

</mat-card-content>
</mat-card>