<mat-card>
  <mat-card-content>
<p *ngIf = "!(Auth.user | async)">
    Please login to see your list of items 
</p>
<p *ngIf = "Auth.user | async"> 
    {{(Auth.user | async).email}}
</p>
 </mat-card-content>
 </mat-card>
